/* imports */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

/* General */
body {
  margin: 0;
  padding: 0;
  font-family: "Teko";
}

/* barra de navegacion */
.barraNavegacion {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
}

/* gamertag */
.gamerTag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gamerTag h2 {
  background-color: #fff;
  height: 75px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.gamerTag img {
  height: 75px;
  width: auto;
  margin-right: 5px;
}

/* logo */
.logo img {
  max-width: 100px;
  height: auto;
  padding: 0px 7px 0px 7px;
}

/* video de fondo */
#video-background-desktop,
#video-background-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#video-background-mobile {
  display: none; /* Por defecto, ocultar el video móvil */
}

/* menu */
.menu {
  width: 100%;
  height: 100%;
}

/* opciones */
.options {
  display: flex;
  flex-direction: column;
}

.option,
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.option {
  padding-left: 25px;
  font-size: bold;
  font-style: italic;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a:hover,
.option:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 224, 85, 0.589) 20%,
    rgba(0, 0, 0, 0) 80%
  );
  color: rgb(251, 255, 0);
  text-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
}

.subOption {
  /* padding: 20px; */
  padding-left: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subOption:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* pie de pagina */
.game-footer {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.menu-icon {
  display: none;
}

/* responsive */
@media only screen and (max-width: 600px) {
  .barraNavegacion {
    flex-direction: column;
    align-items: center;
  }

  .gamerTag {
    margin-top: 10px;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: block; /* Mostrar el menú cuando tiene la clase "open" */
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .options {
    flex-direction: column;
  }

  .option,
  .subOption {
    padding: 10px;
    text-align: center;
  }

  #video-background-desktop {
    display: none; /* Ocultar el video de escritorio en dispositivos móviles */
  }

  #video-background-mobile {
    display: block; /* Mostrar el video de móvil en dispositivos móviles */
  }
}
